<div class="wrapper">
    <h1 class="admin__head">Панель администратора</h1>
    <div class="admin__box">
        <a class="admin__links" href="/admin/addProduct">Добавить новый продукт</a>
        <a class="admin__links" href="/admin/addCategory">Добавить новую категорию</a>
        <a class="admin__links" href="/admin/categories">Редактирование категории и продуктов</a>
        <a class="admin__links" href="/admin/ordersManagingPage">Обработка заказов</a>
        <a class="admin__links" href="/admin/index">Управление главной страницей</a>
        <a class="admin__links" href="/admin/getDeliveryCost">Изменить стоимость доставки</a>
        <a class="admin__links" href="/admin/getContacts">Управление контактами</a>
        <a class="admin__links" href="/admin/users">Управление пользователями</a>
        <a class="admin__links" href="/drivers">Управление водителями</a>
        <a class="admin__links" href="/admin/logout">Выйти из Админ панели</a>
    </div>
</div>