<div class="auth">
    <div class="wrapper">
        <a href="/admin" class="back__admin"><i class="fas fa-caret-left"></i>Админ</a>
        <h1 class="admin__head">Необработанные заказы</h1>
        <div class="admin__box">
            <a class="admin__links" href="/admin/orders?timeId=8&isDelivered=false">8:00 - 10:00</a>
            <a class="admin__links" href="/admin/orders?timeId=10&isDelivered=false">10:00 - 12:00</a>
            <a class="admin__links" href="/admin/orders?timeId=12&isDelivered=false">12:00 - 14:00</a>
            <a class="admin__links" href="/admin/orders?timeId=14&isDelivered=false">14:00 - 16:00</a>
            <a class="admin__links" href="/admin/orders?timeId=16&isDelivered=false">16:00 - 18:00</a>
            <a class="admin__links" href="/admin/orders?timeId=18&isDelivered=false">18:00 - 20:00</a>
            <a class="admin__links" href="/admin/orders?timeId=20&isDelivered=false">20:00 - 22:00</a>
        </div>
        <h3 class="admin__list"><a href="/admin/orders?page=1" class="admin__links__all">Список всех заказов</a></h3>
    </div>
</div>