<div class="auth">
    <div class="wrapper">
        <a href="/admin" class="back__admin"><i class="fas fa-caret-left"></i>Админ</a>
        {{!-- SECTION SEARCH USERS START --}}
        <h1 class="admin__head">Управление пользователями</h1>

        <h2 class="admin__head"><a href="/admin/users-search" class="admin__span">Поиск пользователей</a>
        </h2>
        <h2 class="admin__head"><a href="/admin/users-forgot" class="admin__span">Восстановление пароля</a>
        {{!-- SECTION SEARCH USERS END --}}
    </div>
</div>