<!-- SECTION AUTH START -->
<div class="wrapper">
        <a href="/admin" class="back__admin"><i class="fas fa-caret-left"></i>Админ</a>
</div>
<section class="auth">
    <div class="wrapper">
        <h2 class="auth__title">Восстановление пароля пользователя</h2>
        <p>{{message}}</p>
        <div class="auth__content" id="authPage">
            <form action = '/admin/users-forgot-password' method="POST" class="auth__form">
                <h3 id="errorMessage"></h3>
                <h5 class="auth__form__title">Восстановление пароля</h5>
                <div class="auth__form__content">
                    <input name="telephone" required type="text" class="auth__form__input"
                        placeholder="Номер телефона">
                    <input id="password" name="password" required type="password" class="auth__form__input"
                        placeholder="Пароль">
                    <input id="repeatPassword" name="repeatPassword" required type="password" class="auth__form__input"
                        placeholder="Повторите пароль">
                    <button  class="auth__form__submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- SECTION AUTH END -->