<!-- FOOTER START -->
<footer class="footer">
    <div class="wrapper">
        <div class="footer__flex">
            <ul class="footer__list">
                <li class="footer__list__item"><a href="/info/about-us" class="footer__list__link">О нас</a></li>
                {{!-- <li class="footer__list__item"><a href="/info/agreement" class="footer__list__link">Пользовательское
                        соглашение</a></li> --}}
                <li class="footer__list__item"><a href="/info/contacts" class="footer__list__link">Контакты</a></li>
                {{!-- <li class="footer__list__item"><a href="/info/instruction" class="footer__list__link">Как заказать?</a></li> --}}
            </ul>
            <div class="footer__block">
                <ul class="footer__social">
                    <li class="footer__social__item"><a href="#!" target="_blank"
                            class="facebook_link footer__social__link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="footer__social__item"><a href="#!" target="_blank"
                            class="instagram_link footer__social__link"><i class="fab fa-instagram"></i></a></li>
                    <li class="footer__social__item"><a href="#!" target="_blank"
                            class="telegram_link footer__social__link"><i class="fab fa-telegram"></i></a></li>
                </ul>
                <p class="footer__copyrighting">Ⓒ 2020 AIRSHOP</p>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->

<a href="#header" class="scrollToTop"><span><i class="fal fa-angle-up"></i></span></a>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/orderDetails.js"></script>
<script  src="/js/script.js"></script>