<!-- SECTION ERROR START -->
<section class="errors">
    <div class="wrapper">
        <h1 class="errors__head">404</h1>
        <h3 class="errors__oops">Oops!</h3>
        <p class="errors__text">Страница не найдена</p>
        <br>
        <a class="errors__text" href="/"><h2>Перейти на главную</h2></a>
    </div>
    </div>
</section>
<!-- SECTION ERROR END -->