<div class="faq">
    <div class="item">
        <div class="ask">Зарегистрируйтесь</div>
        <div class="answer">
            <img src="/instructionImg/2.jpg" alt="jpg">
            <img src="/instructionImg/1.jpg" alt="jpg">
            <img src="/instructionImg/3.jpg" alt="jpg">
            <img src="/instructionImg/4.jpg" alt="jpg">
            <img src="/instructionImg/5.jpg" alt="jpg">
            <img src="/instructionImg/6.jpg" alt="jpg">
        </div>
    </div>
    <div class="item">
        <div class="ask">Входите в свой аккаунт</div>
        <div class="answer">
            <img src="/instructionImg/7.jpg" alt="jpg">
        </div>
    </div>
    <div class="item">
        <div class="ask">Добавьте товары в корзину</div>
        <div class="answer">
            <img src="/instructionImg/8.jpg" alt="jpg">
            <img src="/instructionImg/9.jpg" alt="jpg">
            <img src="/instructionImg/10.jpg" alt="jpg">
            <img src="/instructionImg/11.jpg" alt="jpg">
        </div>
    </div>
    <div class="item">
        <div class="ask">Оформите заказ</div>
        <div class="answer">
            <img src="/instructionImg/13.jpg" alt="jpg">
            <img src="/instructionImg/14.jpg" alt="jpg">
            <img src="/instructionImg/15.jpg" alt="jpg">
            <img src="/instructionImg/16.jpg" alt="jpg">
            <img src="/instructionImg/17.jpg" alt="jpg">
        </div>
    </div>
</div>
